IO_LOC "clk" P16;        // 50Mhz
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "reset_n" K16;        // actually S0 on the board
IO_PORT "reset_n" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "user_n" F15;        // S1
IO_PORT "user_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;

// S2 = G15, S3 = G16

// HDMI
IO_LOC "tmds_clk_p" Y22,Y23;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" AB24,AC24;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" V24,W24;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" AA22,AA23;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;

// PMODs (seen from rear)
// Left  N18/M26 N26/N17 R16/L24 R17/T24 GND/GND 3V3/3V3
// Mid   C24/B24 E25/D25 L17/L18 H14/H15 GND/GND 3V3/3V3
// Right C21/R21 B20/A20 B19/A19 A17/A18 GND/GND 3V3/3V3

// M0S Dock PMOD
IO_LOC "m0s[0]" B24;
IO_PORT "m0s[0]" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "m0s[1]" C24;
IO_PORT "m0s[1]" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "m0s[2]" D25
IO_PORT "m0s[2]" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "m0s[3]" E25;
IO_PORT "m0s[3]" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "m0s[4]" L18;
IO_PORT "m0s[4]" PULL_MODE=UP IO_TYPE=LVCMOS33;
// m0s[7:5] is currently unused
IO_LOC "m0s[5]" L17;
IO_PORT "m0s[5]" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "m0s[6]" H15;
IO_PORT "m0s[6]" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "m0s[7]" H14;
IO_PORT "m0s[7]" PULL_MODE=UP IO_TYPE=LVCMOS33; 

// SDCard
IO_LOC "sd_clk" D23;
IO_PORT "sd_clk" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "sd_cmd" D24;        // MOSI
IO_PORT "sd_cmd" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[0]" H23;       // MISO
IO_PORT "sd_dat[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[1]" J23;
IO_PORT "sd_dat[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[2]" A25;
IO_PORT "sd_dat[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[3]" B25;
IO_PORT "sd_dat[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;

// 128Mbit NOR Flash (MSPI pins)
IO_LOC "mspi_cs" P18;
IO_PORT "mspi_cs" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "mspi_clk" H13;
IO_PORT "mspi_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "mspi_wp" P14;
IO_PORT "mspi_wp" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "mspi_hold" N14;
IO_PORT "mspi_hold" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "mspi_di" R14;
IO_PORT "mspi_di" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "mspi_do" R15;
IO_PORT "mspi_do" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// Mister SDRAM v3.0 connected through 40-pin port
IO_LOC "IO_sdram_dq[0]" U16;
IO_PORT "IO_sdram_dq[0]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[1]" V16;
IO_PORT "IO_sdram_dq[1]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[2]" U15;
IO_PORT "IO_sdram_dq[2]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[3]" V17;
IO_PORT "IO_sdram_dq[3]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[4]" W21;
IO_PORT "IO_sdram_dq[4]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[5]" Y21;
IO_PORT "IO_sdram_dq[5]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[6]" P21;
IO_PORT "IO_sdram_dq[6]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[7]" U17;
IO_PORT "IO_sdram_dq[7]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[8]" P25;
IO_PORT "IO_sdram_dq[8]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[9]" W23;
IO_PORT "IO_sdram_dq[9]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[10]" T25;
IO_PORT "IO_sdram_dq[10]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[11]" R25;
IO_PORT "IO_sdram_dq[11]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[12]" R23;
IO_PORT "IO_sdram_dq[12]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[13]" T23;
IO_PORT "IO_sdram_dq[13]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[14]" P24;
IO_PORT "IO_sdram_dq[14]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[15]" P23;
IO_PORT "IO_sdram_dq[15]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_addr[0]" V19;
IO_PORT "O_sdram_addr[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[1]" W19;
IO_PORT "O_sdram_addr[1]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[2]" U22;
IO_PORT "O_sdram_addr[2]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[3]" V22;
IO_PORT "O_sdram_addr[3]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[4]" Y25;
IO_PORT "O_sdram_addr[4]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[5]" AA25;
IO_PORT "O_sdram_addr[5]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[6]" AA24;
IO_PORT "O_sdram_addr[6]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[7]" AB25;
IO_PORT "O_sdram_addr[7]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[8]" AB26;
IO_PORT "O_sdram_addr[8]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[9]" AC26;
IO_PORT "O_sdram_addr[9]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[10]" Y20;
IO_PORT "O_sdram_addr[10]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[11]" U25;
IO_PORT "O_sdram_addr[11]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[12]" U24;
IO_PORT "O_sdram_addr[12]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_ba[0]" V26;
IO_PORT "O_sdram_ba[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_ba[1]" W20;
IO_PORT "O_sdram_ba[1]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_dqm[0]" L22;
IO_PORT "O_sdram_dqm[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_dqm[1]" M24;
IO_PORT "O_sdram_dqm[1]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_clk" V23;
IO_PORT "O_sdram_clk" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_wen_n" Y26;
IO_PORT "O_sdram_wen_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_ras_n" W25;
IO_PORT "O_sdram_ras_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_cas_n" W26;
IO_PORT "O_sdram_cas_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_cs_n" U26;
IO_PORT "O_sdram_cs_n" IO_TYPE=LVCMOS33;

// 6 LEDs
IO_LOC "leds_n[5]" N23;
IO_PORT "leds_n[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "leds_n[4]" N21;
IO_PORT "leds_n[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "leds_n[3]" M25;
IO_PORT "leds_n[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "leds_n[2]" L20;
IO_PORT "leds_n[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "leds_n[1]" R26;    
IO_PORT "leds_n[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "leds_n[0]" J14;   
IO_PORT "leds_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// LCD
IO_LOC "lcd_g[5]" J16;
IO_PORT "lcd_g[5]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[4]" K15;
IO_PORT "lcd_g[4]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[3]" F22;
IO_PORT "lcd_g[3]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[2]" G22;
IO_PORT "lcd_g[2]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[1]" G21;
IO_PORT "lcd_g[1]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[0]" G20;
IO_PORT "lcd_g[0]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;

IO_LOC "lcd_b[5]" F20;
IO_PORT "lcd_b[5]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[4]" G19;
IO_PORT "lcd_b[4]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[3]" F19;
IO_PORT "lcd_b[3]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[2]" F18;
IO_PORT "lcd_b[2]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[1]" M17;
IO_PORT "lcd_b[1]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[0]" M16;
IO_PORT "lcd_b[0]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;

IO_LOC "lcd_r[5]" H19;
IO_PORT "lcd_r[5]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[4]" J19;
IO_PORT "lcd_r[4]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[3]" G25;
IO_PORT "lcd_r[3]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[2]" H18;
IO_PORT "lcd_r[2]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[1]" J18;
IO_PORT "lcd_r[1]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[0]" K17;
IO_PORT "lcd_r[0]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;

IO_LOC "lcd_en" A24;
IO_PORT "lcd_en" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_clk" H21;
IO_PORT "lcd_clk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_bl" F25;
IO_PORT "lcd_bl" PULL_MODE=NONE BANK_VCCIO=3.3;

// I2S DAC
IO_LOC "i2s_bclk" E22;
IO_PORT "i2s_bclk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i2s_lrck" F24;
IO_PORT "i2s_lrck" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i2s_din" G24;
IO_PORT "i2s_din" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "pa_en" H17;
IO_PORT "pa_en" PULL_MODE=NONE BANK_VCCIO=3.3;

// ws2812b rgb led
IO_LOC "ws2812" H16;
IO_PORT "ws2812" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
