
// digital video
IO_LOC "tmds_clk_p" 33,34;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[0]" 35,36;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" 37,38;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" 39,40;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;

// the six on-board leds
IO_LOC "leds_n[5]" 20;
IO_PORT "leds_n[5]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "leds_n[4]" 19;
IO_PORT "leds_n[4]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "leds_n[3]" 18;
IO_PORT "leds_n[3]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "leds_n[2]" 17;
IO_PORT "leds_n[2]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "leds_n[1]" 16;
IO_PORT "leds_n[1]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "leds_n[0]" 15;
IO_PORT "leds_n[0]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;

// ws2812 led
IO_LOC "ws2812" 79;
IO_PORT "ws2812" DRIVE=8 IO_TYPE=LVCMOS33;

// SPI flash
IO_LOC "mspi_wp" 57;
IO_PORT "mspi_wp" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "mspi_clk" 59;
IO_PORT "mspi_clk" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "mspi_cs" 60;
IO_PORT "mspi_cs" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "mspi_di" 61;
IO_PORT "mspi_di" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "mspi_do" 62;
IO_PORT "mspi_do" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "mspi_hold" 63;
IO_PORT "mspi_hold" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// SD card
IO_LOC "sd_clk" 83;
IO_PORT "sd_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "sd_cmd" 82;        // MOSI
IO_PORT "sd_cmd" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[0]" 84;       // MISO
IO_PORT "sd_dat[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[1]" 85;
IO_PORT "sd_dat[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[2]" 80;
IO_PORT "sd_dat[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[3]" 81;
IO_PORT "sd_dat[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// IO pins for parallel port data
IO_LOC "pp_data[0]" 27;
IO_PORT "pp_data[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "pp_data[1]" 28;
IO_PORT "pp_data[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "pp_data[2]" 25;
IO_PORT "pp_data[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "pp_data[3]" 26;
IO_PORT "pp_data[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "pp_data[4]" 29;
IO_PORT "pp_data[4]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "pp_data[5]" 30;
IO_PORT "pp_data[5]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "pp_data[6]" 31;
IO_PORT "pp_data[6]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "pp_data[7]" 77;
IO_PORT "pp_data[7]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "pp_strobe" 71;
IO_PORT "pp_strobe" IO_TYPE=LVCMOS33 DRIVE=8 PULL_MODE=NONE;
IO_LOC "pp_busy" 72;
IO_PORT "pp_busy" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// connection to the external BL616/M0S
IO_LOC "m0s[0]" 42;
IO_PORT "m0s[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[1]" 41;
IO_PORT "m0s[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[2]" 56;
IO_PORT "m0s[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[3]" 54;
IO_PORT "m0s[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[4]" 51;
IO_PORT "m0s[4]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[5]" 48;
IO_PORT "m0s[5]" PULL_MODE=UP IO_TYPE=LVCMOS33;

// connections to the internal BL616 controller
IO_LOC "spi_csn" 86;
IO_PORT "spi_csn" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "spi_sclk" 13;
IO_PORT "spi_sclk" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "spi_dat" 76;
IO_PORT "spi_dat" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "spi_dir" 75;
IO_PORT "spi_dir" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "spi_irqn" 69; // USB-C UART TX output
IO_PORT "spi_irqn" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;

// two on-board buttons
IO_LOC "user" 88;
IO_PORT "user" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "reset" 87;
IO_PORT "reset" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "clk" 4;
IO_PORT "clk" PULL_MODE=UP;
