IO_LOC "clk" V22;        // 50Mhz
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

// F4 = daughter board reset

IO_LOC "reset_n" AA13;        // actually S0 on the board
IO_PORT "reset_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "user_n" AB13;        // S1
IO_PORT "user_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;

//====== LEDS ====== 
IO_LOC  "leds_n[0]"   G11; // fpga done
IO_PORT "leds_n[0]"   IO_TYPE=LVCMOS33 DRIVE=4 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "leds_n[1]"   U12; // fpga ready
IO_PORT "leds_n[1]"   IO_TYPE=LVCMOS33 DRIVE=4 PULL_MODE=NONE BANK_VCCIO=3.3;

// HDMI
IO_LOC "tmds_clk_p" G15,G16;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" J14,H14;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" J15,H15;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" K17,J17;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;

// DualShock controller on PMOD1
IO_LOC "ds1_csn" W19; // 11/IO0
IO_PORT "ds1_csn" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "ds2_csn" W20; // 12/IO1
IO_PORT "ds2_csn" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "ds1_mosi" F19; // 9/IO2
IO_PORT "ds1_mosi" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "ds2_mosi" F20; // 10/IO3
IO_PORT "ds2_mosi" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "ds1_miso" E22; // 7/IO4
IO_PORT "ds1_miso" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "ds2_miso" D22; // 8/IO5
IO_PORT "ds2_miso" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "ds1_sclk" E21; // 5/IO6
IO_PORT "ds1_sclk" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "ds2_sclk" D21; // 6/IO7
IO_PORT "ds2_sclk" PULL_MODE=UP IO_TYPE=LVCMOS33; 

// SDCard/TF_SDIO
IO_LOC "sd_clk" V15;
IO_PORT "sd_clk" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "sd_cmd" Y16;        // MOSI
IO_PORT "sd_cmd" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[0]" AA15;    // MISO
IO_PORT "sd_dat[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[1]" AB15;
IO_PORT "sd_dat[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[2]" W14;
IO_PORT "sd_dat[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[3]" W15;
IO_PORT "sd_dat[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;

// MCU on PMOD0
IO_LOC "m0s[0]" V19;
IO_PORT "m0s[0]" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "m0s[1]" V18;
IO_PORT "m0s[1]" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "m0s[2]" G22;
IO_PORT "m0s[2]" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "m0s[3]" G21;
IO_PORT "m0s[3]" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "m0s[4]" E18;
IO_PORT "m0s[4]" PULL_MODE=UP IO_TYPE=LVCMOS33; 
// m0s[7:5] is currently unused
IO_LOC "m0s[5]" F18;
IO_PORT "m0s[5]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[6]" B22;
IO_PORT "m0s[6]" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "m0s[7]" C22;
IO_PORT "m0s[7]" PULL_MODE=UP IO_TYPE=LVCMOS33; 

// connections to the internal BL616 controller
IO_LOC "spi_csn" T13; // TMS
IO_PORT "spi_csn" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "spi_sclk" V12; //TCK
IO_PORT "spi_sclk" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "spi_dat" R13; // TDI
IO_PORT "spi_dat" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "spi_dir" U13; // TDO
IO_PORT "spi_dir" PULL_MODE=NONE DRIVE=16 IO_TYPE=LVCMOS33;
IO_LOC "spi_irqn" V14; // UART 
IO_PORT "spi_irqn" PULL_MODE=NONE DRIVE=16 IO_TYPE=LVCMOS33;

// 128Mbit NOR Flash (MSPI pins)
IO_LOC "mspi_cs" T19;
IO_PORT "mspi_cs" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "mspi_clk" L12;
IO_PORT "mspi_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "mspi_wp" P21;
IO_PORT "mspi_wp" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "mspi_hold" R21;
IO_PORT "mspi_hold" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "mspi_di" P22;
IO_PORT "mspi_di" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "mspi_do" R22;
IO_PORT "mspi_do" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// Mister SDRAM v3.0 connected through 40-pin port on SDRAM0
IO_LOC "IO_sdram_dq[0]" E14;
IO_PORT "IO_sdram_dq[0]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[1]" E13;
IO_PORT "IO_sdram_dq[1]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[2]" C15;
IO_PORT "IO_sdram_dq[2]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[3]" C14;
IO_PORT "IO_sdram_dq[3]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[4]" B13;
IO_PORT "IO_sdram_dq[4]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[5]" C13;
IO_PORT "IO_sdram_dq[5]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[6]" A14;
IO_PORT "IO_sdram_dq[6]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[7]" A13;
IO_PORT "IO_sdram_dq[7]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[8]" B21;
IO_PORT "IO_sdram_dq[8]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[9]" A21;
IO_PORT "IO_sdram_dq[9]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[10]" B20;
IO_PORT "IO_sdram_dq[10]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[11]" A20;
IO_PORT "IO_sdram_dq[11]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[12]" A15;
IO_PORT "IO_sdram_dq[12]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[13]" A16;
IO_PORT "IO_sdram_dq[13]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[14]" B15;
IO_PORT "IO_sdram_dq[14]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[15]" B16;
IO_PORT "IO_sdram_dq[15]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_addr[0]" D19;
IO_PORT "O_sdram_addr[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[1]" E19;
IO_PORT "O_sdram_addr[1]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[2]" C19;
IO_PORT "O_sdram_addr[2]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[3]" C18;
IO_PORT "O_sdram_addr[3]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[4]" E16;
IO_PORT "O_sdram_addr[4]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[5]" D15;
IO_PORT "O_sdram_addr[5]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[6]" D14;
IO_PORT "O_sdram_addr[6]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[7]" A19;
IO_PORT "O_sdram_addr[7]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[8]" A18;
IO_PORT "O_sdram_addr[8]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[9]" C17;
IO_PORT "O_sdram_addr[9]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[10]" D20;
IO_PORT "O_sdram_addr[10]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[11]" D17;
IO_PORT "O_sdram_addr[11]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[12]" B18;
IO_PORT "O_sdram_addr[12]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_ba[0]" F15;
IO_PORT "O_sdram_ba[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_ba[1]" C20;
IO_PORT "O_sdram_ba[1]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_dqm[0]" F14;
IO_PORT "O_sdram_dqm[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_dqm[1]" F13;
IO_PORT "O_sdram_dqm[1]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_clk" B17;
IO_PORT "O_sdram_clk" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_wen_n" D16;
IO_PORT "O_sdram_wen_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_ras_n" F16;
IO_PORT "O_sdram_ras_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_cas_n" E17;
IO_PORT "O_sdram_cas_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_cs_n" F21;
IO_PORT "O_sdram_cs_n" IO_TYPE=LVCMOS33;

// LCD
IO_LOC "lcd_g[7]" K19;
IO_PORT "lcd_g[7]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_g[6]" N22;
IO_PORT "lcd_g[6]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_g[5]" M22;
IO_PORT "lcd_g[5]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_g[4]" M21;
IO_PORT "lcd_g[4]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_g[3]" L21;
IO_PORT "lcd_g[3]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_g[2]" K18;
IO_PORT "lcd_g[2]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_g[1]" L14;
IO_PORT "lcd_g[1]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_g[0]" L20;
IO_PORT "lcd_g[0]" PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "lcd_b[7]" M20;
IO_PORT "lcd_b[7]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_b[6]" L16;
IO_PORT "lcd_b[6]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_b[5]" K16;
IO_PORT "lcd_b[5]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_b[4]" N18;
IO_PORT "lcd_b[4]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_b[3]" N19;
IO_PORT "lcd_b[3]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_b[2]" M18;
IO_PORT "lcd_b[2]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_b[1]" L18;
IO_PORT "lcd_b[1]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_b[0]" U8;
IO_PORT "lcd_b[0]" PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "lcd_r[7]" K21;
IO_PORT "lcd_r[7]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_r[6]" K22;
IO_PORT "lcd_r[6]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_r[5]" J22;
IO_PORT "lcd_r[5]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_r[4]" H22;
IO_PORT "lcd_r[4]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_r[3]" G17;
IO_PORT "lcd_r[3]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_r[2]" G18;
IO_PORT "lcd_r[2]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_r[1]" J20;
IO_PORT "lcd_r[1]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_r[0]" J21;
IO_PORT "lcd_r[0]" PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "lcd_en" U22;
IO_PORT "lcd_en" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_hs" N20;
IO_PORT "lcd_hs" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_vs" L15;
IO_PORT "lcd_vs" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_clk" L19;
IO_PORT "lcd_clk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_bl" P20;
IO_PORT "lcd_bl" PULL_MODE=NONE BANK_VCCIO=3.3;

// I2S DAC
IO_LOC "i2s_bclk" Y17;
IO_PORT "i2s_bclk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i2s_lrck" AB17;
IO_PORT "i2s_lrck" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i2s_din" AA16;
IO_PORT "i2s_din" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "pa_en" Y14;
IO_PORT "pa_en" PULL_MODE=NONE BANK_VCCIO=3.3;

